<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body>
  <header>
  <%- include('../partials/header'); %>
  </header>

  <main class='all'>
  <h2>All Maps</h2>
  <ul>  
    <% maps.forEach(function(maps) { %>
      <li>
        <h3> <%= maps.name %> </h3>
        <img src="<%= maps.url %>" alt="">
      </li>
    <% }); %>
  </ul>
  </main>

  <footer>
  <%- include('../partials/footer'); %>
  </footer>
  <script src="../../scripts/script.js"></script>
</body>
</html>