<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body>

<header>
  <%- include('../partials/header'); %>
</header>

<main class='all'>
  <h2>All Maps</h2>
  <p><%= tagline %></p>
  <ul>  
    <% games.forEach(function(game) { %>
      <li>
        <img src="<%= game.img %>" alt="">
        <strong><%= game.name %></strong>
      </li>
    <% }); %>
  </ul>
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>