<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body>

<header>
  <%- include('../partials/header'); %>
</header>

<main class='results'>
  <h2>Your Map</h2>
  <section>
    <% maps.forEach(function(maps) { %>
        <h3> <%= maps.name %> </h3>
        <img src="<%= maps.url %>" alt="">
    <% }); %>
    <button>save to collection</button>
  </section>
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>